#contact {
  background-color: var(--white);
}

.contact_wrapper {
  background-color: transparent;
  max-width: 1000px;
  margin: 0 auto;
  padding: 140px 50px;
  color: var(--font);
  line-height: 150%;
}

.contact_form {
  max-width: 400px;
}

.contact_input:first-child {
  margin-bottom: 20px;
}

.contact_input_label {
  font-size: var(--fs-body2);
}

.contact_input_field {
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0;
  outline-style: none;
  color: var(--font);
  font-size: var(--fs-body1);
  border: 0;
  border-bottom: 1px solid var(--font);
}

.contact_submit {
  width: 280px;
  height: 40px;
  margin-top: 30px;
  background-color: var(--font);
  color: var(--white);
  border-radius: 10px;
  border: none;
}


:focus { 
  outline: none;
}

.input-container{
  position: relative;
} 

input[type="text"] {
  color: var(--font);
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-1 {
  border-bottom: 1px solid var(--light-gray);
}

.effect-1~.focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.4s;
}

.effect-1:focus~.focus-border {
  width: 100%;
  background-color: var(--blue);
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .contact_wrapper {
    padding: 80px 20px;
  }
}

@media screen and (max-width: 500px) {
  .contact_submit {
    width: 100%;
  }
}
