.gallery {
  background-color: var(--yellow);
}

.gallery_wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 140px 50px;
}

.gallery_grid {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel {
  border-radius: 15px;
  overflow: hidden;
}

.gallery_grid img {
  width: 280px;
  border-radius: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.gallery_grid img:nth-child(n + 4) {
  padding-bottom: 0;
}

@media (min-width: 769px) {
  .carousel {
    display: none;
  }
}

@media (max-width: 768px) {
  .gallery {
    padding: 80px 20px;
  }

  .gallery_wrapper {
    padding: 0;
  }

  .gallery_grid img {
    display: none;
  }
}
