#popup {
  display: none;
  position: absolute;
  max-width: 500px;
  min-width: 300px;
  top: 60px;
  left: 139px;
}

.popup_image {
  width: 100%;
}

.popup_buttons {
  display: flex;
}

.popup_button {
  width: 50%;
  height: 32px;
  color: var(--font);
  border: none;
}

.popup_button:last-child {
  border-left: 1px solid var(--font);
}

@media screen and (max-width: 500px) {
  #popup {
    width: 100vw;
    left: 0;
  }
}
