.section-title {
  margin-bottom: 10px;
  font-size: var(--fs-h2);
  color: var(--font);
  font-weight: semibold;
}

.section-desc {
  font-weight: 400;
  color: var(--font);
  font-size: var(--fs-subtitle2);
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: var(--fs-h4);
  }

  .section-desc {
    font-size: var(--fs-body2);
  }
}
