.service-container {
  background-color: var(--light-gray);
}

.service-text-box {
  max-width: 1000px;
  margin: 0 auto;
  padding: 140px 50px;
}

.service-info-box {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.service-info {
  width: 280px;
  background-color: var(--white);
  border-radius: 20px;
  padding: 40px 20px;
}

.service-info:not(:last-child) {
  margin-right: 30px;
}

.service-info-title {
  font-size: var(--fs-subtitle1);
  padding-bottom: 10px;
}

.service-info-desc {
  font-size: var(--fs-body2);
}

@media screen and (max-width: 768px) {
  .service-text-box {
    padding: 80px 20px;
  }

  .service-info-box {
    display: block;
  }

  .service-info:not(:last-child) {
    margin-right: auto;
    margin-bottom: 30px;
  }

  .service-info {
    margin: 0 auto;
  }
}
